{% extends "base.html"%}
{% block body %}
<body>
<div class="heading-container text-center" style="padding: 10px;">
    <h1 class="text-gradient d-inline">Privacy Policy</h1>
</div>
<p align="center">At ByteBandits, we are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and
    disclose information about you when you use our website and services.</p>

<div class="heading-container text-center" style="padding: 10px;">
    <h2 class="text-gradient d-inline">Information We Collect</h2>
</div>
<p align="center">We may collect the following types of information when you use our website:</p>

<ul>
    <li>Personal Information: We may collect personal information such as your name, email address, and contact
        information when you register for an account or contact us.
    </li>
    <li>Usage Information: We may collect information about how you interact with our website, such as your IP address,
        browser type, pages visited, and referring website.
    </li>
    <li>Cookies: We may use cookies and similar tracking technologies to collect information about your browsing
        activities.
    </li>
</ul>
<div class="heading-container text-center" style="padding: 10px;">
    <h2 class="text-gradient d-inline">How We Use Your Information</h2>
</div>
<p align="center">We may use the information we collect for the following purposes:</p>
<ul>
    <li>To provide, maintain, and improve our services.</li>
    <li>To personalize your experience and deliver targeted content.</li>
    <li>To communicate with you, respond to your inquiries, and provide customer support.</li>
    <li>To protect the security and integrity of our website and services.</li>
    <li>To comply with legal obligations and enforce our policies.</li>
</ul>
<div class="heading-container text-center" style="padding: 10px;">
    <h2 class="text-gradient d-inline">Information Sharing</h2>
</div>
<p align="center">We may share your information with third parties for the following purposes:</p>
<ul>
    <li>With service providers who assist us in operating our website and providing our services.</li>
    <li>With law enforcement or government authorities if required by law or to protect our rights.</li>
    <li>With third parties in connection with a business transaction, such as a merger, acquisition, or sale of
        assets.
    </li>
</ul>
<div class="heading-container text-center" style="padding: 10px;">
    <h2 class="text-gradient d-inline">Security</h2>
</div>
<p align="center">We take reasonable measures to protect the confidentiality and security of your information. However, no method of
    transmission over the internet or electronic storage is completely secure.</p>
<div class="heading-container text-center" style="padding: 10px;">
    <h2 class="text-gradient d-inline">Changes to This Privacy Policy</h2>
</div>
<p align="center">We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
    Policy on this page.</p>
<div class="heading-container text-center" style="padding: 10px;">
    <h2 class="text-gradient d-inline">Contact Us</h2>
</div>
<p align="center">If you have any questions about this Privacy Policy, please contact us at privacy@bytebandits.com.</p>
</body>
{% endblock body %}

