{% extends "base.html" %}
{% block body %}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Services</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Vulnerabilities Assessment</h2>
                                            <p>Our Penetration Testing services simulate real-world attacks on your systems to test their resilience against potential threats. By adopting the mindset of a hacker, our certified ethical hackers attempt to breach your defenses using a variety of techniques. This rigorous testing helps uncover hidden vulnerabilities that automated tools might miss.
                                                The end result is a clear understanding of your security gaps and practical advice on how to close them.</p>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/service1.png" width="400" height="300" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2 -->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                                <h2 class="fw-bolder">Pentesting</h2>
                                            <p>Our Vulnerability Assessment service is designed to identify and evaluate security weaknesses within your organization's IT infrastructure.
                                                We perform thorough scans and manual checks to uncover vulnerabilities in your networks, systems, applications, and devices.
                                                Our detailed report highlights the potential risks, including their severity and the impact they may have on your operations.
                                                We provide actionable recommendations to help you strengthen your security posture and protect against potential threats before they can be exploited</p>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/service2.jpg" width="400" height="300" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 3-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Incident Response</h2>
                                            <p>Our Incident Response service is your first line of defense when a security breach occurs. We provide rapid and effective responses to contain, investigate, and mitigate cybersecurity incidents. Our team of experts works closely with your internal teams to identify the root cause, limit damage, and restore normal operations as quickly as possible.
                                                We also help in developing and refining your incident response plan to ensure you are better prepared for future incidents.</p>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/service3.jpg" width="400" height="300" alt="..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/contact">Contact me</a>
                    </div>
                </div>
            </section>
{% endblock body %}